p{
    font-size: large;
}

.background-container {
    
}

.front{
    background-color: rgba(255, 255, 255, 0);
}


a{
    font-align : center;
}

#bouton-sticky {
    position:fixed;
    bottom:1%;
    right:1%;
    z-index:9999;
  }

.boutonLeft{
    float:right;
}

.textee{
    display: inline-block;
    background-color: rgb(20, 197, 58);
    padding: 20px;
    max-width: 800px; /* Définissez la largeur maximale de la zone de texte */
    margin: 0 auto; /* Centrez horizontalement la zone de texte */
}