p{
    font-size: large;
}

.background-container {
    background-color: #ffffff ; /* Couleur de fond */
    padding: 10px; /* Espace autour du texte */
}


a{
    font-align : center;
}

#bouton-sticky {
    position:fixed;
    bottom:1%;
    right:1%;
    z-index:9999;
  }

.boutonLeft{
    float:right;
}